.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.GameBoard {
  border: 1px solid;
  width: 350px;
  height: 350px;
  margin: 10px;
}

.GameTitle {
  font-size: 24pt;
  margin-top: 30px;
}

.ScoreDiv {
  margin-top: 10px;
}

.ScoreTable, td, tr {
  margin: auto;
  border-collapse: collapse;
  border: solid 1px;
}

.TapToStart {
  margin-top: 104px;
}

.CountDown {
  font-size: 36pt;
}

.LeftTime {
  margin: 10px;
  text-align: right;
}

.SwipeRules {
  margin-top: 100px;
  margin-left: 42px;
  overflow: hidden;
}

.SwipeBox {
  display: flex;
  width: 75px;
  height: 75px;
  font-size: 36px;
  border: solid 1px;
  float: left;
  justify-content: center;
  align-items: center;
}

.FinishText {
  font-size: 24px;
  margin-top: 80px;
}

.GameScore {
  margin: 0px 0px 0px 10px;
  float: left;
}

.upArrow {
  color: palevioletred;
}

.rightArrow {
  color: red;
}

.downArrow {
  color: black;
}

.leftArrow {
  color: lightskyblue;
}

body {
  position: fixed;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
